<div ng-controller="RestaurantCtrl">
  <!-- BEGIN PAGE HEADER-->
  <h3 class="page-title">
    {{r.name}} <small>restaurant details</small>
  </h3>
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <a href="#/dashboard">Home</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#/restaurants">Restaurants</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#">{{r.name}}</a>
      </li>
    </ul>
    <div class="page-toolbar">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
          Actions <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
          <li>
            <a href="#">Action</a>
          </li>
          <li>
            <a href="#">Another action</a>
          </li>
          <li>
            <a href="#">Something else here</a>
          </li>
          <li class="divider">
          </li>
          <li>
            <a href="#">Separated link</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="row">
    <div class="col-md-12">
      <!-- Begin: life time stats -->
      <div class="portlet">
        <div class="portlet-title">
          <div class="caption" ng-show="r">
            <i class="fa fa-shopping-cart"></i>Permalink: {{r.permalink}} <span class="hidden-480">
            | {{r.created_at | asDate | date : 'medium' }} </span>
          </div>
          <div class="actions">
            <a href="#/restaurants" class="btn default yellow-stripe">
              <i class="fa fa-angle-left"></i>
              <span class="hidden-480">Back</span>
            </a>
            <div class="btn-group">
              <a class="btn default yellow-stripe dropdown-toggle" href="#" data-toggle="dropdown">
                <i class="fa fa-cog"></i>
                <span class="hidden-480">Tools</span>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="#">
                    Export to Excel
                  </a>
                </li>
                <li>
                  <a href="#">
                    Print Restaurant
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="portlet-body">
          <div class="tabbable">
            <ul class="nav nav-tabs nav-tabs-lg">
              <li ng-repeat="t in tabs" ng-class="{active: t.active}">
                <a ng-click="go(t.route)" data-toggle="tab">{{t.heading}}</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active">
                <div ui-view></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End: life time stats -->
  </div>
</div>
<!-- END PAGE CONTENT-->
