<div>
  <!-- BEGIN PAGE HEADER-->
  <h3 class="page-title">
    {{r.name}} <small>restaurant edit mode</small>
  </h3>
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <a ui-sref="dashboard">Home</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a ui-sref="restaurants">Restaurants</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#">{{r.name}}</a>
      </li>
    </ul>
    <div class="page-toolbar">
      a
    </div>
  </div>
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="row">
    <div class="col-md-12">
      <!-- Begin: life time stats -->
      <form class="form-horizontal form-row-seperated" action="#">
      <div class="portlet">
        <div class="portlet-title">
          <div class="caption">
          <i class="fa fa-shopping-cart"></i>Edit {{r.name}}
          </div>
          <div class="actions btn-set">
            <button type="button" name="back" class="btn default"><i class="fa fa-angle-left"></i> Back</button>
            <button class="btn default"><i class="fa fa-reply"></i> Cancel</button>
            <button class="btn green" ng-class="{disabled: !isModified}"><i class="fa fa-check"></i> Save</button>
            <button class="btn green"  ng-class="{disabled: !isModified}"><i class="fa fa-check-circle"></i> Save &amp; Continue Edit</button>
            <div class="btn-group">
              <a class="btn yellow dropdown-toggle" href="#" data-toggle="dropdown">
                <i class="fa fa-share"></i> More <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="#">
                    Duplicate
                  </a>
                </li>
                <li>
                  <a href="#">
                    Delete
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="portlet-body">
          <div class="tabbable">
            <ul class="nav nav-tabs nav-tabs-lg">
              <li ng-repeat="t in tabs" ng-class="{active: t.active}">
                <a ng-click="go(t.route)" data-toggle="tab">{{t.heading}}</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active">
                <div ui-view></div>
              </div>
            </div>
          </div>

        </div>
      </div>
      </form>
    </div>
    <!-- End: life time stats -->
  </div>
</div>
<!-- END PAGE CONTENT-->
