<div class="form-body">
  <div class="form-group">
    <label class="col-md-2 control-label">Name: <span class="required">
      * </span>
    </label>
    <div class="col-md-10">
      <input type="text" class="form-control" name="restaurant[name]" ng-model="r.name" placeholder="Enter restaurant name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Quote: <span class="required">
      * </span>
    </label>
    <div class="col-md-10">
      <input type="text" class="form-control" name="product[quote]" ng-model="r.quote" placeholder="Restaurant metadescription">
      <span class="help-block">shown under the title and in meta description</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Membership: <span class="required">
      * </span>
    </label>
    <div class="col-md-10">
      <select class="table-group-action-input form-control input-medium" name="product[status]">
        <option value="free" selected="">free</option>
        <option value="standard">standard</option>
        <option value="premium">premium</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Description: <span class="required">
      * </span>
    </label>
    <div class="col-md-10">
      <textarea class="form-control" name="product[description]"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Short Description: <span class="required">
      * </span>
    </label>
    <div class="col-md-10">
      <textarea class="form-control" name="product[short_description]"></textarea>
      <span class="help-block">shown in product listing </span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label">Categories: <span class="required">
      * </span>
    </label>
    <div class="col-md-10">
      <div class="form-control height-auto">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 275px;"><div class="scroller" style="height: 275px; overflow: hidden; width: auto;" data-always-visible="1" data-initialized="1">
          <ul class="list-unstyled">
            <li>
              <label><div class="checker"><span class=""><input type="checkbox" name="product[categories][]" value="1"></span></div>Mens</label>
              <ul class="list-unstyled">
                <li>
                  <label><div class="checker"><span class=""><input type="checkbox" name="product[categories][]" value="1"></span></div>Footwear</label>
                </li>
                <li>
                  <label><div class="checker"><span class=""><input type="checkbox" name="product[categories][]" value="1"></span></div>Clothing</label>
                </li>
                <li>
                  <label><div class="checker"><span><input type="checkbox" name="product[categories][]" value="1"></span></div>Accessories</label>
                </li>
                <li>
                  <label><div class="checker"><span><input type="checkbox" name="product[categories][]" value="1"></span></div>Fashion Outlet</label>
                </li>
              </ul>
            </li>
            <li>
              <label><div class="checker"><span><input type="checkbox" name="product[categories][]" value="1"></span></div>Football Shirts</label>
              <ul class="list-unstyled">
                <li>
                  <label><div class="checker"><span><input type="checkbox" name="product[categories][]" value="1"></span></div>Premier League</label>
                </li>
                <li>
                  <label><div class="checker"><span><input type="checkbox" name="product[categories][]" value="1"></span></div>Football League</label>
                </li>
                <li>
                  <label><div class="checker"><span><input type="checkbox" name="product[categories][]" value="1"></span></div>Serie A</label>
                </li>
                <li>
                  <label><div class="checker"><span><input type="checkbox" name="product[categories][]" value="1"></span></div>Bundesliga</label>
                </li>
              </ul>
            </li>
            <li>
              <label><div class="checker"><span><input type="checkbox" name="product[categories][]" value="1"></span></div>Brands</label>
              <ul class="list-unstyled">
                <li>
                  <label><div class="checker"><span><input type="checkbox" name="product[categories][]" value="1"></span></div>Adidas</label>
                </li>
                <li>
                  <label><div class="checker"><span><input type="checkbox" name="product[categories][]" value="1"></span></div>Nike</label>
                </li>
                <li>
                  <label><div class="checker"><span><input type="checkbox" name="product[categories][]" value="1"></span></div>Airwalk</label>
                </li>
                <li>
                  <label><div class="checker"><span><input type="checkbox" name="product[categories][]" value="1"></span></div>Kangol</label>
                </li>
              </ul>
            </li>
          </ul>
        </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 79px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 196.428571428571px; background: rgb(187, 187, 187);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"></div></div>
      </div>
      <span class="help-block">
        select one or more categories </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Available Date: <span class="required">
        * </span>
      </label>
      <div class="col-md-10">
        <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
          <input type="text" class="form-control" name="product[available_from]">
          <span class="input-group-addon">
            to </span>
            <input type="text" class="form-control" name="product[available_to]">
          </div>
          <span class="help-block">
            availability daterange. </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">SKU: <span class="required">
            * </span>
          </label>
          <div class="col-md-10">
            <input type="text" class="form-control" name="product[sku]" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Price: <span class="required">
            * </span>
          </label>
          <div class="col-md-10">
            <input type="text" class="form-control" name="product[price]" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Tax Class: <span class="required">
            * </span>
          </label>
          <div class="col-md-10">
            <select class="table-group-action-input form-control input-medium" name="product[tax_class]">
              <option value="">Select...</option>
              <option value="1">None</option>
              <option value="0">Taxable Goods</option>
              <option value="0">Shipping</option>
              <option value="0">USA</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Status: <span class="required">
            * </span>
          </label>
          <div class="col-md-10">
            <select class="table-group-action-input form-control input-medium" name="product[status]">
              <option value="">Select...</option>
              <option value="1">Published</option>
              <option value="0">Not Published</option>
            </select>
          </div>
        </div>
      </div>
